@media screen and (min-width: 767px)
  .container
    padding: 0 3rem
  .login
    display: flex
    form
        width: 50%
        padding: 0 8rem
    img
        display: block
        width: 50%
        height: 100vh
        object-fit: cover
        object-position: center

@media screen and (min-width: 1023px)
  .container
    padding: 0 6rem
  .login
    form
        padding: 0 10rem
